.form
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:10px;
}

input
{
     width: 100%;
     padding: 10px;
     border-radius: 10px;
}
textarea
{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.btn
{
    margin-left: 215px;
}

label{
    font-weight: bold;
}
